body {

  height: 100dvh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
  overscroll-behavior: none;
  overflow: none;
  
}

.game-container {
 
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("farm-4778011_1280.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.game-setup-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.grid-modal-container{
  position: relative;
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  width: 95vw;
  max-width: 425px;

  height: 95vw;
  max-height: 425px;

  border: 1px solid #000;
  user-select: none;
  
}

.cell {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden; 
  background-size: cover;
  border: 1px solid gray;
  
  background-image: url('gräns.jpg');
  background-size: cover;
}

.cell .img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; 
  user-select: none;
  -webkit-user-drag: none;
}

.joystick-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 400px;

}

.joystick {
  width: 100px;
  height: 100px;
  background-color: #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stick {
  width: 40px;
  height: 40px;
  background-color: #888;
  border-radius: 50%;
  cursor: pointer;
}

.circle {
  position: absolute;
  width: 65px;
  height: 65px; 
  pointer-events: none; 

}

.game-mode-container {
  width: 100vw;
  max-width: 450px;
  height: 120px;
  max-height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-mode-container .time-wrapper,
.game-mode-container .score-wrapper {
  display: flex;
  align-items: center;
  padding: 0 32px;
}

.game-mode-container .time-wrapper img,
.game-mode-container .score-wrapper img {
  width: 43px;
  margin: 0 15px 0 0;
}

.time-wrapper .timeSpan,
.score-wrapper #scoreSpan {
  color: #ff0000;
  font-size: 1.5rem;
  font-family: "Spicy Rice", serif;
  font-weight: 400;
  font-style: normal;
}

#modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 95vw;
  max-width: 425px;
  height: 95vw;
  max-height: 425px;
  
  background-image: url('./modal-image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: 999;

  user-select: none;
  user-select: none;
  -webkit-user-drag: none;

}

.modal-content{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-header{
  color: #ff0000;
  margin: 0 0 10px;
}

.modal-text{
  max-height: 135px;
  overflow: hidden;
  color: #484907;
  margin: 0 0 10px;
  text-align: center;
}

.close-button{
  padding: 10px 50px;
  border: none;
  border-radius: 10px;
  background-color: #00c200;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.hidden{
  display: none;
}


